Thumbs.db
.DS_Store
desktop.ini
node_modules/
db
*.log

/backend/wp-admin/
/backend/wp-content/index.php
/backend/wp-content/languages
/backend/wp-content/plugins/index.php
/backend/wp-content/themes/index.php
/backend/wp-includes/
/backend/index.php
/backend/license.txt
/backend/readme.html
/backend/wp-*.php
/backend/xmlrpc.php
/backend/wp-config.php
/backend/wp-includes/
/backend/wp-content/uploads/
/backend/.htaccess